*.gem
*.rbc
/.bundle
/.config
/.yardoc
/InstalledFiles
/_yardoc
/coverage
/doc/
/lib/bundler/man
/pkg
/rdoc
/spec/reports
/tmp
/tags
/spec/internal/log/
/vendor/bundler/
/.rubocop_todo.yml
/Gemfile.lock
/gemfiles/*.gemfile.lock
/spec/internal/db/*.sqlite
